name: Release

on:
  push:
    branches:
      - master
      - 0.x
      - beta-0.x
      - beta-1.x

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'

      - run: pnpm install
      - run: pnpm lint
      - run: pnpm build

      - uses: actions/upload-artifact@v4
        with:
          name: build-assets
          path: dist/

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 8

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'pnpm'

      - uses: actions/download-artifact@v4
        with:
          name: build-assets
          path: dist/

      - run: pnpm install

      - run: git config user.name "Semantic Release Bot"
      - run: git config user.email "semantic-release@example.com"

      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          npm_config_provenance: true
